{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/Dashboard/images/fav.png' %}">
    <title>
        {% if request.META.title %}
            {{ request.META.title }}
        {% else %}
            Dashboard
        {% endif %}

    </title>

    <!-- bootstrap Css -->
    <link rel="stylesheet" href="{% static 'main/Dashboard/css/plugins/fontawesome-6.css' %}">
    <link rel="stylesheet" href="{% static 'main/Dashboard/css/plugins/swiper.css' %}">
    <link rel="stylesheet" href="{% static 'main/Dashboard/css/vendor/bootstrap.min.css' %}">
    {% block extra_css %}
    {% endblock %}    
    <link rel="stylesheet" href="{% static 'main/Dashboard/css/style.css' %}">
</head>


    {% block content %}
    {% endblock %}
    

    <!-- jquery Js -->
    <script src="{% static 'main/Dashboard/js/plugins/jquery.min.js' %}"></script>
    <script src="{% static 'main/Dashboard/js/plugins/swiper.js' %}"></script>
    <script src="{% static 'main/Dashboard/js/plugins/bootstrap.min.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
    <!-- custom js -->
    <script src="{% static 'main/Dashboard/js/main.js' %}"></script>
</body>
</html>