{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">
    <title>Openup AI Generator Dashboard</title>
    <!-- bootstrap Css -->
    <link rel="stylesheet" href="assets/css/plugins/fontawesome-6.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    {% block extra_css %}
    {% endblock %}    
    <link rel="stylesheet" href="assets/css/style.css">
</head>


    {% block body %}
    {% endblock %}
    

    <!-- jquery Js -->
    <script src="assets/js/plugins/jquery.min.js"></script>
    <script src="assets/js/plugins/swiper.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <!-- custom js -->
    <script src="assets/js/main.js"></script>
</body>
</html>