{% load i18n %}
<!-- rts pricing plane area start -->
<div class="pricing-plane-area rts-section-gapTop">
    <div class="container">
        <div class="row">
            <div class="col-lgl-12">
                <div class="title-conter-area">
                    <span class="pre-title-bg">{% trans 'Pricing Plan' %}</span>
                    <h2 class="title">
                        {% blocktrans %}
                        Ready to Get Started? <br>
                        We'll Keep You Under Budget
                        {% endblocktrans %}
                    </h2>
                </div>
            </div>
        </div>

        <!-- tabs area start -->
        <div class="tab-area-pricing-two mt--20">
            <ul class="nav nav-tabs pricing-button-one two" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class=" active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                            role="tab" aria-controls="home" aria-selected="true">{% trans 'Monthly Pricing' %}
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                            role="tab" aria-controls="profile" aria-selected="false">{% trans 'Annual Pricing' %}
                    </button>
                </li>
                <li class="save-badge">
                    <span>{% trans 'SAVE 25%' %}</span>
                </li>
            </ul>
            <div class="tab-content mt--20" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row g-5 mt--10">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">

                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Basic' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">{% trans '$Free' %}</h4>
                                        <span>{% trans '/month' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para"> 
                                        {% blocktrans %} A premium pricing plan is a pricing <br> structure that is designed.{% endblocktrans %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '10,000 Monthly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>
                                                {% trans 'Access to AI chatbot' %}
                                            </p>
                                        </div>
                                        <!-- single check end-->

                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Diamond' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">$10</h4>
                                        <span>{% trans '/month' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para">
                                        {% trans 'A premium pricing plan is a pricing <br> structure that is designed.' %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '60,000 Monthly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Access to AI chatbot' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'All types of content' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Unlimited usage' %}</p>
                                        </div>
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'progress notifications' %}</p>
                                        </div>
                                        <!-- single check end-->
                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Silver' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">$4</h4>
                                        <span>{% trans '/month' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para">
                                        {% trans 'A premium pricing plan is a pricing <br> structure that is designed.' %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '30,000 Monthly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Access to AI chatbot' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>
                                                {% blocktrans %}
                                                <span class="text-danger">Not</span> All types of content
                                                {% endblocktrans %}
                                            </p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Limited usage!' %}</p>
                                        </div>
                                        <!-- single check end-->
                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row g-5 mt--10">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Basic' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">{% trans '$Free' %}</h4>
                                        <span>{% trans '/year' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para">
                                        {% blocktrans %}
                                        A premium pricing plan is a pricing <br> structure that is designed.
                                        {% endblocktrans %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '10,000 Monthly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Access to AI chatbot' %}</p>
                                        </div>
                                        <!-- single check end-->

                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Diamond' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">$100</h4>
                                        <span>{% trans '/year' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para">
                                        {% blocktrans %}
                                        A premium pricing plan is a pricing <br> structure that is designed.
                                        {% endblocktrans %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '720,000 yearly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Access to AI chatbot' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'All types of content' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Unlimited Usage' %}</p>
                                        </div>
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Progress notifications' %}</p>
                                        </div>
                                        <!-- single check end-->
                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <!-- single pricing-area -->
                            <div class="single-pricing-single-two">
                                <div class="head">
                                    <span class="top">{% trans 'Silver' %}</span>
                                    <div class="date-use">
                                        <h4 class="title">$40</h4>
                                        <span>/{% trans 'year' %}</span>
                                    </div>
                                </div>
                                <div class="body">
                                    <p class="para">
                                        {% blocktrans %}
                                        A premium pricing plan is a pricing <br> structure that is designed.
                                        {% endblocktrans %}
                                    </p>

                                    <div class="check-wrapper">
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans '120,000 Yearly Word Limit' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Access to AI chatbot' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Some types of content' %}</p>
                                        </div>
                                        <!-- single check end-->
                                        <!-- single check -->
                                        <div class="check-area">
                                            <i class="fa-solid fa-check"></i>
                                            <p>{% trans 'Limited Usage' %}</p>
                                        </div>
                                        <!-- single check end-->
                                    </div>
                                    <a href="#" class="pricing-btn">{% trans 'Get Started' %}</a>
                                </div>
                            </div>
                            <!-- single pricing-area end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- tabs area end -->
    </div>
</div>
<!-- rts pricing plane area end -->


<!-- faq area start -->

<div class="rts-faq-area rts-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-conter-area">
                    <span class="pre-title-bg">{% trans "Faq's" %}</span>
                    <h2 class="title">
                        {% blocktrans %}
                        Questions About our OpenUp? <br>
                        We have Answers!
                        {% endblocktrans %}
                    </h2>
                    <p class="disc">
                        {% trans 'please feel free to reach out to us. We are always happy to assist you and provide any additional.' %}
                    </p>
                </div>
            </div>
        </div>
        <div class="row mt--60">
            <div class="col-lg-12">
                <div class="accordion-area-one">
                    <div class="accordion" id="accordionExample">
                    
                    {% for faq in faqs %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading {{ faq.id }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse{{faq.id}}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
                                    {{ faq.question }}
                                </button>
                            </h2>
                            <div id="collapse{{ faq.id }}" class="accordion-collapse collapse{% if faq.id == 1 %} show {% endif %}" aria-labelledby="heading{{ faq.id }}"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{faq.answer}}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- faq area end -->