{% extends 'Dashboard/layouts/dashboardMain.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
    <body class="register page-login">
    <div class="dash-board-main-wrapper pt--40">
        {% include 'Dashboard/layouts/sidebar/DashboardSide.html' %}
        <div class="main-center-content-m-left center-content">
            <div class="rts-register-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- single login area start -->
                            <div class="single-form-s-wrapper">
                                <div class="head">
                                    <span>Email sent!</span>
                                    <h5 class="title">We have emailed you.If you do not get any message, <a style='color:blue' href='{% url 'password_reset'%}'>try again</a></h5>
                                </div>
                            </div>
                            <!-- single login area end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}    
