{% extends 'Openup/light/layouts/base.html' %}
{% load static %}


{% block body %}
<body class="inner-page">
    <!-- rtsa reset area start -->
    <div class="rts-reset-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-form-s-wrapper text-start ptb--120 ptb_sm--50">
                        <div class="head">
                            <h5 class="title">You have successfully changed your password</h5>
                            <p class="mb--20">To continue, please <a href="{% url 'login' %}">sign in</a> with your new password.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rtsa reset area end -->
{% endblock %}