{% extends 'Dashboard/layouts/dashboardMain.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <body class="chatbot">

    {% include 'Dashboard/layouts/header/DashboardHeader.html' %}

    <div class="dash-board-main-wrapper">
        {% include 'Dashboard/layouts/sidebar/DashboardSide.html' %}

        <div class="main-center-content-m-left center-content search-sticky">
            <div class="question_answer__wrapper__chatbot">
                <div class="single__question__answer">
                    <div class="question_user">
                        <div class="left_user_info">
                            <h6 style="margin-bottom: 0">{% trans 'You' %}:</h6>
                            <div class="question__user">{{ question }}</div>
                        </div>
                        <div class="edit__icon openuptip" tooltip="Edit It">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </div>
                    </div>
                    <div class="answer__area">
                        <div class="thumbnail">
                            <img src="{% static 'main/Dashboard/images/avatar/04.png' %}" alt="avatar">
                        </div>
                        <div class="answer_main__wrapper">
                            <h4 class="common__title">{% trans 'Openup' %}</h4>
                            <p class="disc">
                                {{ answer }}
                            </p>
                        </div>
                    </div>

                    <div class="share-reaction-area">
                        <ul>
                            <li><a href="#" class="openuptip" tooltip="Save It"><i
                                    class="fa-regular fa-bookmark"></i></a></li>
                            <li><a href="#" class="openuptip" tooltip="Like"><i class="fa-light fa-thumbs-up"></i></a>
                            </li>
                            <li><a href="#" class="openuptip" tooltip="Unlike"><i class="fa-regular fa-thumbs-down"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <form action="{% url 'dashboard-chatbot' %}" method="post" class="search-form">
                {% csrf_token %}
                <input type="text" placeholder="{% trans 'Message openup...' %}" name="question">
                <button type="submit"><i class="fa-regular fa-arrow-up"></i></button>
            </form>
        </div>


        <div class="right-side-bar-new-chat-option">
            <div class="new-chat-option">
                <img src="{% static 'main/Dashboard/images/logo/logo-02.png' %}" alt="logo">
                <img src="{% static 'main/Dashboard/images/icons/04.png' %}" alt="icons">
            </div>

            <div class="chat-history-wrapper">
                <h6 class="text-center">Soon availabe to see history</h6>
            </div>
            
            <div class="right-side-open-clouse" id="collups-right">
                <img src="{% static 'main/Dashboard/images/icons/01.svg' %}" alt="icons">
            </div>
        </div>
    </div>

{% endblock %}