{% extends 'Dashboard/layouts/dashboardMain.html' %}
{% load static %}

{% block content %}
    <body class="community-feed">

    {% include 'Dashboard/layouts/header/DashboardHeader.html' %}

    <div class="dash-board-main-wrapper">
        {% include 'Dashboard/layouts/sidebar/DashboardSide.html' %}

        <div class="main-center-content-m-left">
            <div class="search__generator">

                <div class="nav-search-between">
                    <div class="left-area">
                        <h4 class="title">Community Feed</h4>
                        <form action="#">
                            <input type="text" placeholder="Search Feed...">
                            <button>Search</button>
                        </form>
                    </div>

                    {% include 'Dashboard/layouts/ThreeChoices/choices.html' %}
                </div>
                
                <div class="tab-content mt--50" id="pills-tabContent">
                    <!-- single tab content area start -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="row g-5">
                            

                            <div class="col-lg-12 mt--50 justify-content-end d-flex">
                                <a href="#" class="rts-btn btn-primary loadmore-btn">
                                    Load More Feed
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- single tab content area end -->
                </div>
            </div>
        </div>
        <div class="copyright-area-bottom">
            <p><a href="#">OpenUp-AI©</a> Community service is out of service, but will be fixed soon</p>
        </div>
    </div>


{% endblock %}