{% extends 'Dashboard/layouts/dashboardMain.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <body>

    {% include 'Dashboard/layouts/header/DashboardHeader.html' %}

    <div class="dash-board-main-wrapper">
        {% include 'Dashboard/layouts/sidebar/DashboardSide.html' %}

        <div class="main-center-content-m-left main-center-content-m-left">
            <div class="banner-badge bg_image">
                <div class="inner">
                    <h3 class="title">{% trans 'Openup AI Generator' %}</h3>
                    <p class="dsic">
                        {% blocktrans %}
                            Openup is the place to create, publish and monetize content using the power of AI. Use the
                            Openup AI Studio to create amazing generative images, music, and audio.
                        {% endblocktrans %}
                    </p>
                    <a class="rts-btn btn-blur" readonly>{% trans 'Soon available' %}</a>
                    <div class="inner-right-iamge">
                        <img src="{% static 'main/Dashboard/images/banner/01.png' %}" alt="banner">
                    </div>
                </div>
            </div>
            <div class="search__generator mt--50">

                <div class="tab-content mt--50" id="pills-tabContent">
                    <!-- single tab content area start -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="row g-5 ">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card bg-color-primary p-3">
                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title text-white text-center">{% trans 'Words Available' %}: {{ profile.available_words }}</h5>
                                            <p class="disc my-5 text-white text-center">
                                                {% trans 'You have' %}
                                                {% if profile.available_words > 700 %}
                                                    <span class="badge bg-success">{% trans 'Good' %}</span>
                                                    {% trans 'level of words available.' %}
                                                {% elif profile.available_words > 300 %}
                                                    <span class="badge bg-warning">{% trans 'Average' %}</span>
                                                    {% trans 'level of words available.' %}
                                                {% else %}
                                                    <span class="badge bg-danger">{% trans 'Bad' %}</span>
                                                    {% trans 'level of words available.' %}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary" style="font-size: 20px; border: 1px solid">
                                            {% trans 'Generate' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card bg-color-primary p-3">
                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title text-white text-center">{% trans 'Type of plan' %}</h5>
                                            <p class="disc my-5 text-white text-center"
                                               style="font-size: 20px; font-weight: bold">
                                                {{ profile.type_of_plan }}
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary" style="font-size: 20px; border: 1px solid">
                                            {% trans 'Generate' %}
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card bg-color-primary p-3">

                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title text-white text-center">{% trans 'Saved Documents' %}</h5>
                                            <p class="disc my-5 text-white text-center"
                                               style="font-size: 20px; font-weight: bold">
                                                {% if not documents %}
                                                    {% trans 'O documents available' %}
                                                {% else %}
                                                    {{ documents }} {% trans 'documents' %}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary" style="font-size: 20px; border: 1px solid">
                                            {% trans 'Explore' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}