{% extends 'Dashboard/layouts/dashboardMain.html' %}
{% load static %}

{% block content %}
    <body>

    {% include 'Dashboard/layouts/header/DashboardHeader.html' %}

    <div class="dash-board-main-wrapper">
        {% include 'Dashboard/layouts/sidebar/DashboardSide.html' %}

        <div class="main-center-content-m-left main-center-content-m-left">
            <div class="banner-badge bg_image">
                <div class="inner">
                    <h3 class="title">Openup AI Generator</h3>
                    <p class="dsic">
                        Openup is the place to create, publish and monetize content using the power of AI. Use the
                        Openup AI Studio to create amazing generative images, music, and audio.
                    </p>
                    <a class="rts-btn btn-blur" readonly>Soon available</a>
                    <div class="inner-right-iamge">
                        <img src="{% static 'main/Dashboard/images/banner/01.png' %}" alt="banner">
                    </div>
                </div>
            </div>
            
            <div class="search__generator mt--50">
                {% include 'Dashboard/layouts/ThreeChoices/choices.html' %}

                <!-- search option area -->
                <div class="searchoptopn-area">
                    <input type="text" placeholder="Describe what you would like to see...">
                    <button>Generate <img src="{% static 'main/Dashboard/images/icons/13.png' %}" alt=""></button>
                </div>
                <!-- search option area mend -->


                <div class="tab-content mt--50" id="pills-tabContent">
                    <!-- single tab content area start -->
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                         aria-labelledby="pills-home-tab">
                        <div class="row g-5">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- single image generator area start -->
                                <div class="single-image-generator">
                                    <a href="#" class="thumbnail">
                                        <img src="{% static 'main/Dashboard/images/generator/01.jpg' %}" alt="images">
                                    </a>
                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title">Create Image</h5>
                                            <p class="disc">
                                                Our text-to-image feature turns your words into beautiful AI visuals.
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary">Generate</button>
                                    </div>
                                </div>
                                <!-- single image generator area end -->
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- single image generator area start -->
                                <div class="single-image-generator">
                                    <a href="#" class="thumbnail">
                                        <img src="{% static 'main/Dashboard/images/generator/02.jpg' %}" alt="images">
                                    </a>
                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title">Create Image</h5>
                                            <p class="disc">
                                                Our text-to-image feature turns your words into beautiful AI visuals.
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary">Generate</button>
                                    </div>
                                </div>
                                <!-- single image generator area end -->
                            </div>
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                                <!-- single image generator area start -->
                                <div class="single-image-generator">
                                    <a href="#" class="thumbnail">
                                        <img src="{% static 'main/Dashboard/images/generator/03.jpg' %}" alt="images">
                                    </a>
                                    <div class="inner-content">
                                        <div class="left-content-area">
                                            <h5 class="title">Create Image</h5>
                                            <p class="disc">
                                                Our text-to-image feature turns your words into beautiful AI visuals.
                                            </p>
                                        </div>
                                        <button class="rts-btn btn-primary">Generate</button>
                                    </div>
                                </div>
                                <!-- single image generator area end -->
                            </div>
                        </div>
                    </div>
                    <!-- single tab content area end -->
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="row g-5">
                            <div class="col-lg-12">
                                <div class="question_answer__wrapper__chatbot">
                                    <div class="single__question__answer">
                                        <div class="question_user">
                                            <div class="left_user_info">
                                                <img src="{% static 'main/Dashboard/images/avatar/03.png' %}" alt="avatar">
                                                <div class="question__user">what is openup?</div>
                                            </div>
                                            <div class="edit__icon">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </div>
                                        </div>
                                        <div class="answer__area">
                                            <div class="thumbnail">
                                                <img src="{% static 'main/Dashboard/images/avatar/04.png' %}" alt="avatar">
                                            </div>
                                            <div class="answer_main__wrapper">
                                                <h4 class="common__title">Openup</h4>
                                                <p class="disc">
                                                    The Open Unified Process, is a simplified version of the Rational
                                                    Unified Process (RUP) used for agile and iterative software
                                                    development. It was developed within the Eclipse Foundation and is
                                                    based on the donation of process content by IBM. OpenUP targets
                                                    small and colocated teams interested in agile and iterative
                                                    development and is a lean Unified Process that applies iterative and
                                                    incremental approaches within a structured lifecycle. It embraces a
                                                    pragmatic approach and is positioned as an easy and flexible version
                                                    of RUP [1][2][3]
                                                </p>
                                            </div>
                                        </div>

                                        <div class="share-reaction-area">
                                            <ul>
                                                <li><a href="#"><i class="fa-regular fa-bookmark"></i></a></li>
                                                <li><a href="#"><i class="fa-light fa-thumbs-up"></i></a></li>
                                                <li><a href="#"><i class="fa-regular fa-thumbs-down"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="single__question__answer">
                                        <div class="question_user">
                                            <div class="left_user_info">
                                                <img src="{% static 'main/Dashboard/images/avatar/03.png' %}" alt="avatar">
                                                <div class="question__user">what is openup?</div>
                                            </div>
                                            <div class="edit__icon">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </div>
                                        </div>
                                        <div class="answer__area">
                                            <div class="thumbnail">
                                                <img src="{% static 'main/Dashboard/images/avatar/04.png' %}" alt="avatar">
                                            </div>
                                            <div class="answer_main__wrapper">
                                                <h4 class="common__title">Openup</h4>
                                                <p class="disc">
                                                    The Open Unified Process, is a simplified version of the Rational
                                                    Unified Process (RUP) used for agile and iterative software
                                                    development. It was developed within the Eclipse Foundation and is
                                                    based on the donation of process content by IBM. OpenUP targets
                                                    small and colocated teams interested in agile and iterative
                                                    development and is a lean Unified Process that applies iterative and
                                                    incremental approaches within a structured lifecycle. It embraces a
                                                    pragmatic approach and is positioned as an easy and flexible version
                                                    of RUP [1][2][3]
                                                </p>
                                            </div>
                                        </div>

                                        <div class="share-reaction-area">
                                            <ul>
                                                <li><a href="#"><i class="fa-regular fa-bookmark"></i></a></li>
                                                <li><a href="#"><i class="fa-light fa-thumbs-up"></i></a></li>
                                                <li><a href="#"><i class="fa-regular fa-thumbs-down"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="single__question__answer">
                                        <div class="question_user">
                                            <div class="left_user_info">
                                                <img src="{% static 'main/Dashboard/images/avatar/03.png' %}" alt="avatar">
                                                <div class="question__user">what is openup?</div>
                                            </div>
                                            <div class="edit__icon">
                                                <i class="fa-regular fa-pen-to-square"></i>
                                            </div>
                                        </div>
                                        <div class="answer__area">
                                            <div class="thumbnail">
                                                <img src="{% static 'main/Dashboard/images/avatar/04.png' %}" alt="avatar">
                                            </div>
                                            <div class="answer_main__wrapper">
                                                <h4 class="common__title">Openup</h4>
                                                <p class="disc">
                                                    Working with a chatbot involves several steps, from designing and
                                                    building the bot to deploying and maintaining it. Here's a general
                                                    overview of how to work with a chatbot:
                                                </p>
                                                <div class="order_list_answer">
                                                    <ol>
                                                        <li>
                                                            <p>Define the Purpose: Determine the purpose and goals of
                                                                the chatbot. What tasks or interactions do you want the
                                                                bot to handle? Who is the target audience?</p>
                                                        </li>
                                                        <li>
                                                            <p>Define the Purpose: Determine the purpose and goals of
                                                                the chatbot. What tasks or interactions do you want the
                                                                bot to handle? Who is the target audience?</p>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="share-reaction-area">
                                            <ul>
                                                <li><a href="#"><i class="fa-regular fa-bookmark"></i></a></li>
                                                <li><a href="#"><i class="fa-light fa-thumbs-up"></i></a></li>
                                                <li><a href="#"><i class="fa-regular fa-thumbs-down"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="row g-5">
                            <div class="col-lg-12">
                                <div class="audio-main-generator-start">
                                    <form action="#">
                                        <div class="ask-for-audio">
                                            <textarea placeholder="Here write text" required=""></textarea>
                                            <i class="fa-light fa-pen-to-square"></i>
                                            <div class="button-wrapper-generator">
                                                <button class="rts-btn btn-primary">Generate
                                                    <img src="{% static 'main/Dashboard/images/icons/06.svg' %}" alt="icons">
                                                </button>
                                                <button class="mp3 rts-btn btn-border">
                                                    MP3
                                                    <i class="fa-sharp fa-light fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="audio-main-wrapper-top-bottom mb--60">
                                    <div class="audio-main-wrapper">
                                        <div class="audio-player">
                                            <div class="timeline">
                                                <div class="progress" style="width: 0%;"></div>
                                            </div>
                                            <div class="controls">
                                                <div class="play-container">
                                                    <div class="toggle-play play">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <div class="current">0:00</div>
                                                    <!-- <div class="divider">/</div> -->
                                                    <div class="length">1:44</div>
                                                </div>
                                                <div class="volume-container">
                                                    <div class="volume-button">
                                                        <div class="volume icono-volumeMedium"></div>
                                                    </div>

                                                    <div class="volume-slider">
                                                        <div class="volume-percentage"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="rts-btn btn-primary mt--30">Downloaded
                                        <i class="fa-light fa-download"></i>
                                    </button>
                                </div>
                                <div class="audio-main-generator-start">
                                    <form action="#">
                                        <div class="ask-for-audio">
                                            <textarea placeholder="Here write text" required=""></textarea>
                                            <i class="fa-light fa-pen-to-square"></i>
                                            <div class="button-wrapper-generator">
                                                <button class="rts-btn btn-primary">Generate
                                                    <img src="{% static 'main/Dashboard/images/icons/06.svg' %}" alt="icons">
                                                </button>
                                                <button class="mp3 rts-btn btn-border">
                                                    MP3
                                                    <i class="fa-sharp fa-light fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="audio-main-wrapper-top-bottom mb--60">
                                    <div class="audio-main-wrapper">
                                        <div class="audio-players">
                                            <div class="timeline">
                                                <div class="progress" style="width: 0%;"></div>
                                            </div>
                                            <div class="controls">
                                                <div class="play-container">
                                                    <div class="toggle-play play">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <div class="current">0:00</div>
                                                    <!-- <div class="divider">/</div> -->
                                                    <div class="length">1:44</div>
                                                </div>
                                                <div class="volume-container">
                                                    <div class="volume-button">
                                                        <div class="volume icono-volumeMedium"></div>
                                                    </div>

                                                    <div class="volume-slider">
                                                        <div class="volume-percentage"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="rts-btn btn-primary mt--30">Downloaded
                                        <i class="fa-light fa-download"></i>
                                    </button>
                                </div>
                                <div class="audio-main-generator-start">
                                    <form action="#">
                                        <div class="ask-for-audio">
                                            <textarea placeholder="Here write text" required=""></textarea>
                                            <i class="fa-light fa-pen-to-square"></i>
                                            <div class="button-wrapper-generator">
                                                <button class="rts-btn btn-primary">Generate
                                                    <img src="{% static 'main/Dashboard/images/icons/06.svg' %}" alt="icons">
                                                </button>
                                                <button class="mp3 rts-btn btn-border">
                                                    MP3
                                                    <i class="fa-sharp fa-light fa-chevron-down"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="audio-main-wrapper-top-bottom mb--60">
                                    <div class="audio-main-wrapper">
                                        <div class="audio-playerer">
                                            <div class="timeline">
                                                <div class="progress" style="width: 0%;"></div>
                                            </div>
                                            <div class="controls">
                                                <div class="play-container">
                                                    <div class="toggle-play play">
                                                    </div>
                                                </div>
                                                <div class="time">
                                                    <div class="current">0:00</div>
                                                    <!-- <div class="divider">/</div> -->
                                                    <div class="length">1:44</div>
                                                </div>
                                                <div class="volume-container">
                                                    <div class="volume-button">
                                                        <div class="volume icono-volumeMedium"></div>
                                                    </div>

                                                    <div class="volume-slider">
                                                        <div class="volume-percentage"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="rts-btn btn-primary mt--30">Downloaded
                                        <i class="fa-light fa-download"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}